.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin: 50px;
}

.login-form-container {
  background-color: white;
  border-radius: 8px;
  height: 500px;
  width: 100%;
  padding: 30px;
}

.subtext {
  display: flex;
  justify-content: center;
}

.sign-up-redirect {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(0, 195, 255);
}

.sign-up-redirect:hover {
  color: rgb(68, 211, 255);
}

.form-inputs {
  margin-top: 70px;
}

.login-button {
  margin-top: 30px;
}