.modal,
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  transform: translateY(-60px);
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  height: 60%;
  width: 25%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modal-content h2 {
  transform: translateX(35%);
}
