.modal,
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  transform: translateY(-60px);
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  height: 60%;
  width: 25%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.open-btn {
  position: absolute;
 
}

.modal-content h2 {
  transform: translateX(30%);
  font-size: 30px;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 100;
}

.edit-input {
  height: 30px;
  width: 100%;
}

.update-btn {
  margin-top: 30px;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  background-color: #a1a1a1;
}

.cancel-btn {
  background-color: red;
  margin-top: 30px;
  margin-left: 10px;
  height: 40px;
  width: 180px;
  border-radius: 4px;
}
