body {
  background-color: lightgray;
}

.sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 600px;
  height: 80vh;
  margin: 20px;
  padding: 20px;
}

.title {
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.subtext {
  display: flex;
  flex-direction: row;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginRedirect {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: rgb(0, 195, 255);
}

hr {
  width: 95%;
  transform: translateY(30px);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.inner-form {
  display: flex;
}

.input {
  background-color: rgb(238, 238, 238);
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 30px;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}
.name-inputs .input {
  width: 90%;
}

.first-name {
  display: flex;
  align-items: flex-start;
}

.last-name {
  display: flex;
  align-items: flex-end;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  transform: translateY(-30px);
}

.checkbox input {
  margin-right: 10px;
}

.submit button {
  background-color: rgb(0, 162, 255);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: rgb(150, 150, 150);
}

#output {
  color: red;
  transform: translateY(-50%);
}

#output-success {
  color: green;
  transform: translateY(-50%);
}

.error-messages {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#first-message {
  color: red;
  width: 55%;
}

#last-message {
  display: flex;
  color: red;
}

#user-message {
  color: red;
}

#pass-message {
  color: red;
}
