* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.about,
.contact,
.mens-club,
.travel-club,
.pro-shop,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  font-size: 3rem;
}

.about {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 26px;
  display: flex;
  flex-direction: column;
}

.about-header {
  display: flex;
  margin-top: 50px;
  margin-bottom: 150px;
}

.about-blurb {
  margin: 50px;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px 50px;
  justify-content: top;
}

.about-container {

  display: flex;
  flex-direction: column;
  max-width: 90%;

}

.contact {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}

.mens-club {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}

.travel-club {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}

.pro-shop {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}

.sign-up {
  background-image: url('./img/flag-fountain1.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #242424;
  font-size: 100px;
}
